@import url('https://fonts.googleapis.com/css2?family=Russo+One');


* {
  font-family: 'Russo One', sans-serif;
  color: black;
  
}

.app {
  text-align: center;
  
}

.intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}