.articleComments__comments{
    list-style: none;
    text-align: left;
    border: double 4px;
    padding: 1rem;
    background-color: #f5f3f3;
    margin-bottom: 1rem;
    margin-right: 2.5rem;
    border-radius: 4px;
}
.addComment__button{
    border: none;
    border-radius: 3px;
    background-color: white;
    transition: 0.3s;
    width: 5rem;
    height: 2rem;
    display: flex;
    margin-top: 1rem;
    margin-left: 3rem;
}
.addComment__button:hover{
    background-color: rgb(238, 238, 238);
  border-bottom: 2px solid red;
}

