.button {
    border: none;
    background-color: white;
    border-radius: 3px;
    width: 5rem;
    height: 2rem;
    transition: 0.3s;
}


.button:hover{
    background-color: rgb(238, 238, 238); 
    border-bottom: 2px solid red
}
